<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/dashboard.css">
</head>

<body>


    <%- include('_header.ejs') %>

    <div class="main">
        <div class="dashboard">


            <h1>Dashboard</h1>
            <div class="link">
                <a class="url" href="/search/<%=userId%>"> search URL</a>
                <span class="copy">http://localhost/search/<%=userId%></span>
                <!-- <button id="copyButton">Copy URL</button> -->
            </div>
            <div class="seller-info">

                <div class="header">
                    <h1>
                        <%=user.businessName%>
                    </h1>
                </div>

                <div class="action-links">
                    <a href="/add-info">Add store info</a>
                    <a href="/add-category">Add Category</a>
                    <a href="/add-inventory">Add Inventory</a>
                    <a href="/signout">Signout</a>
                </div>
            </div>
        </div>
    </div>

    <script>
        console.log('hii');
        const copyButton = document.querySelector('#copyButton');
        const searchLink = document.querySelector('#searchLink');

        copyButton.addEventListener('click', () => {
            navigator.clipboard.writeText(searchLink.href);
        });
    </script>

</body>

</html>