<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <div class="main">
        <div class="data-container">
            
            <div class="login">
                <div class="login-header">
                    <div class="logo-login">
                        <img src="https://cdn-icons-png.flaticon.com/128/3561/3561698.png" alt="">
                    </div>
                        <h1>Welcome</h1>
                        <h2>Login  here</h2>
                </div>
                <form action="/login" method="post" class="login-form">
                    <input type="email" name="email" placeholder="Email" id="">
                    <input type="password" name="password" placeholder="Password">
                    <button type="submit" class="login-btn">Login <i class="fa-solid fa-arrow-right"></i> </button>
                </form>
            </div>

            <div class="sign-up">
                <div class="login-header">
                    <div class="logo-login">
                        <img src="https://cdn-icons-png.flaticon.com/128/5307/5307739.png" alt="">
                    </div>
                        <h1>Welcome</h1>
                        <h2>Sign up  here</h2>
                </div>
                <form action="/create-account" method="post" class="signup-form">
                   
                        <input type="text" name="businessName" placeholder="Business Name" id="">
                        <input type="email" name="email" placeholder="Email" id="">
                        <input type="password" name="password" placeholder="Password">
                        <input type="password" name="confirmPassword" placeholder="Password">
                        <button type="submit" class="signup-btn">Create Account <i class="fa-sharp fa-solid fa-plus"></i> </button>
                    
                </form>
            </div>
        </div>
    </div>
</body>
</html>