.main, .store-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.store-details{
    margin-top: 5%;
    font-size: 2rem;
}
.store-details form{
   display: flex;
   flex-direction: column;
   width: 50%;
}

.store-details form input,textarea{
    width: 90%;
    height: 5vh;
    margin: 0.5%;
}
.store-details form textarea{
    height: 10vh;
}



.add-btn{
    background-color: rgb(70, 255, 70);
    box-shadow: 0px 5px 22px 0px rgb(3, 1, 19);
    display: flex;
    height: 5vh;
    width: 25%;
    justify-content: space-evenly;
    border: none;
    margin-top: 3%;
}