h1,h2{
    margin: 0%;
    padding: 0%;
    text-align: center;
}
.main{
    background-color: rgb(192, 188, 188);
    height: 100vh;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
}

.data-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 70vh;
    width: 70%;
    /* border: 1px solid black; */
    margin-top: 0%;
    
}

.login, .login-form, .sign-up, .signup-form,.login-header{
    display: flex;
    flex-direction: column;
    
}
.login-header{
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-login{
    height: 5vh;
    width: 5vh;
    
    /* background-color: blueviolet; */
}
.logo-login img{
    height: 100%;
    width: 100%;
}
.login{
    width: 45%;
    background-color: rgb(255, 255, 255);
    align-items: center;
    height: 60%;
    padding: 1%;
    justify-content: center;
}

.sign-up{
    width: 45%;
    background-color: rgb(255, 255, 255);
    align-items: center;
    height: 100%;
    justify-content: center;
}

.login-form, .signup-form{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* background-color: aqua; */
    }



form input{
    height: 5vh;
    margin: 1%;
    font-size: 2rem;
    width: 80%;
    border-radius: 5px;
    border: 1px solid black;
}
.login-btn{
    height: 5vh;
    width: 30%;
    margin: 1%;
    background-color: rgb(48, 138, 241);
    font-size: 2rem;
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: none;
    margin-top: 2%;
    box-shadow: 0px 5px 22px 0px rgb(3, 1, 19);
    
}


.signup-btn{
    height: 5vh;
    width: 45%;
    margin: 1%;
    background-color: rgb(48, 241, 135);
    font-size: 2rem;
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: none;
    margin-top: 2%;
    box-shadow: 0px 5px 22px 0px rgb(3, 1, 19);
    
}